.header {
    display: flex;
    position: relative;
    margin-bottom: 4rem;
    min-height: 80vh;

    &__left {
        background-image: url(../img/audi-automobile-automotive-car-237195.jpg);
        background-size: cover;
        background-position: center;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__right {
        background-image: url(../img/auto-automobile-automotive-car-305070.jpg);
        background-size: cover;
        background-position: center;
        flex: 1;
    }

    &__backdrop {
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        align-items: center;

        padding: 2rem 5rem;
        background-color:rgba(#a9a9a9, .9);
        font-family: 'Lobster', cursive;
        font-weight: 400;
    }

    &__primary {
        font-size: 7rem;
        // color: var(--color-white);
    }

    &__sub {
        font-size: 3rem;
        // color: #fff;
        // background-color: #2b2d2f;

        padding: 1rem 5rem;
        margin-right: auto;
    }

    &__phone {
        font-size: 2rem;
    }
}

.heading {
  &-primary {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &-secondary {
    font-size: 2rem;
    margin: 1rem 0;
  }
}


.about {
    &__text {
        font-size: 1.5rem;
    }

    &__image {
        width: 80rem;
        margin: 2rem;
        box-shadow: 0 0 1rem rgba(#000, .4);
    }
}

.service-card {
    margin: 2rem;
    padding: 1rem 2rem;
    flex: 1;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
    }

    &__heading {
      font-size: 1.3rem;
      font-weight: 600;
      margin: .5rem 0;
    }
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: yellow;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 100px;
    box-shadow: 0 0 1rem rgba(#000, .4);
    transition: all .2s;

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 .2rem 1rem rgba(#000, .4);
    }
}

.hours {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
  }
}

.list__services {
  list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
